:root {
--Primary-Brand: #4D5AE5;
--Pressed-state: #404BBF;
--dark-NAVY-BLUE: #2E2F42;
--Success: #31D0AA;
--Text: #434455;
--Subtle-Text: #8E8F99;
--Accent: #E7E9FC;
--Light: #F4F4FD;
--Modal-overlay: #2E2F4266;
--Hero-background: #2E2F42B2;
--White-background: #FFFFFF;
--Modal-background: #FCFCFC;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0;
    margin-bottom: 0;}ul, ol {
    margin-top: 0; margin-bottom: 0; padding-left: 0;}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
font-family: Roboto, sans-serif;
color: var(--Text) ;
background-color: var(--White-background);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.link-logo {
    display: flex;
    padding: 24px 147px;
color: var(--Primary-Brand);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase; 
}

.link-logo .accent {
color: var(--dark-NAVY-BLUE);
}

.menu-navigation a {
    color: var(--dark-NAVY-BLUE);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-navigation a:active {
 color: #404bbf;
}

.menu-navigation a:hover{
    color: #404bbf;
}

.menu-navigation a:focus{
    color:#404bbf;
 }
.contacts {
    font-style: normal;
}
.contacts a {
    color: var(--Text) ;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em; 

}

.mailto:active {
color: var(--Pressed-state);
}

.mailto:hover {
    color: var(--Pressed-state);
}

.mailto:focus {
    color: var(--Pressed-state);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-nav {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-grow: 1; 
}

.menu-navigation { 
    display: flex;
    gap: 40px;
    padding: 24px;
    flex-grow: 1; 
}

.header-contacts {  
    display: flex;  
}

.heder-contacts-list{
    display: flex;
    gap: 40px;
    padding-right: 156px;
    
}

/* section1 hero */

.hero-inner {
    background: var(--navyblue, #2E2F42);
    margin-bottom: 120px;
    padding: 188px 472px 188px 472px;

}
.hero-title {
color: var(--white, #FFF);
font-size: 56px;
line-height: 1.07; 
text-align: center;
letter-spacing: 0.02em;
margin-bottom: 48px;
width: 496px;



}

.button {
font-family: inherit;
background: var(--iris, #4D5AE5);
color: var(--White-background);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04;
cursor: pointer;
padding: 16px 32px;

}

.button:hover {
    background-color:#404BBF;

}
.button:focus {
    background-color:#404BBF;
}

.box-button {

    
    
}
/* our advantages*/

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;   
}

.our-advantages-inner {
    display: flex;
    gap: 8px;
    margin-bottom: 93px;



}

.our-advantages-list{
    display: flex;
}


.our-advantages-title {
color:var(--dark-NAVY-BLUE);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.our-advantages-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* our team */

.our-team {
    
}

.our-team-inner {
    background-color: var(--Light);

    display: flex;
    flex-direction: column;
    
padding-top: 120px;
padding-bottom: 120px;
    margin-bottom: 147px;
}
.our-team-list {
    display: flex;
    gap: 24px;
    margin-left: 156px;
}

.our-team-item {
background-color: #FFFFFF;
}

.our-team-title {
color:var(--dark-NAVY-BLUE);
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;

}

.our-team-name {
color:var(--dark-NAVY-BLUE);
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
padding-bottom: 8px;

}

.our-team-profession {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

}


.our-team-info {
padding-top: 32px;
padding-bottom: 32px;
text-align: center;
}





/* our portfolio */

.our-portfolio-inner {
    display: flex;
    flex-direction: column;

    

}

.our-portfolio-title{
    color:var(--dark-NAVY-BLUE);
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
margin-bottom: 60px;
}

.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    
}

.our-portfolio-item {
    border: 1px solid #E7E9FC;
    padding-bottom: 32px;
    

}



.our-portfolio-name {
    color:var(--dark-NAVY-BLUE);

font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-transform: capitalize;
padding-top: 32px;
padding-left: 16px;

}

.our-portfolio-direction {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-left: 16px;
}

/* footer */

.footer-section {
background-color: var(--dark-NAVY-BLUE);
padding: 100px 0;

}

.link-logo-footer {
color: var(--Primary-Brand);
font-family:"Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
display: inline-block;
margin-bottom: 16px;
}

.link-logo-footer .accent {
color: var(--cloud, #F4F4FD);

}
.footer-text {
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px
}

.footer-inner {
   
    

}